<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>tspoon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Driver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>URL</param-name>
    <param-value>jdbc:mariadb://localhost:3306/tspoon</param-value>
  </context-param>
  <context-param>
    <param-name>dbId</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.main.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/main/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.member.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/member/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.member.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/member/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinController</servlet-name>
    <servlet-class>controller.member.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinController</servlet-name>
    <url-pattern>/member/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.member.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/member/search.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyController</servlet-name>
    <servlet-class>controller.member.ModifyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyController</servlet-name>
    <url-pattern>/member/modify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchPwdController</servlet-name>
    <servlet-class>controller.member.SearchPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPwdController</servlet-name>
    <url-pattern>/member/searchPwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAllController</servlet-name>
    <servlet-class>controller.member.SearchAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllController</servlet-name>
    <url-pattern>/member/searchAll.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPwdController</servlet-name>
    <servlet-class>controller.member.ModifyPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPwdController</servlet-name>
    <url-pattern>/member/modifyPwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditController</servlet-name>
    <servlet-class>controller.member.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>/member/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditInfoController</servlet-name>
    <servlet-class>controller.member.EditInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoController</servlet-name>
    <url-pattern>/member/editInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>controller.message.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/message/msg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteMessageController</servlet-name>
    <servlet-class>controller.message.WriteMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteMessageController</servlet-name>
    <url-pattern>/message/msgWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewMessageController</servlet-name>
    <servlet-class>controller.message.ViewMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageController</servlet-name>
    <url-pattern>/message/msgView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageSendController</servlet-name>
    <servlet-class>controller.message.MessageSendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSendController</servlet-name>
    <url-pattern>/message/msgSend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewMessageSendController</servlet-name>
    <servlet-class>controller.message.ViewMessageSendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageSendController</servlet-name>
    <url-pattern>/message/msgSendView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OneboardController</servlet-name>
    <servlet-class>controller.oneboard.OneboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneboardController</servlet-name>
    <url-pattern>/oneboard/board.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewOneboardController</servlet-name>
    <servlet-class>controller.oneboard.ViewOneboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOneboardController</servlet-name>
    <url-pattern>/oneboard/boardView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteOneboardController</servlet-name>
    <servlet-class>controller.oneboard.WriteOneboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteOneboardController</servlet-name>
    <url-pattern>/oneboard/boardWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyOneboardController</display-name>
    <servlet-name>ModifyOneboardController</servlet-name>
    <servlet-class>controller.oneboard.ModifyOneboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOneboardController</servlet-name>
    <url-pattern>/oneboard/boardModify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMessageController</servlet-name>
    <servlet-class>controller.message.DeleteMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageController</servlet-name>
    <url-pattern>/message/msgDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOneboardController</servlet-name>
    <servlet-class>controller.oneboard.DeleteOneboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneboardController</servlet-name>
    <url-pattern>/oneboard/boardDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSendMessageController</servlet-name>
    <servlet-class>controller.message.DeleteSendMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSendMessageController</servlet-name>
    <url-pattern>/message/msgSendDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgController</display-name>
    <servlet-name>ImgController</servlet-name>
    <servlet-class>controller.member.ImgController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgController</servlet-name>
    <url-pattern>/member/img.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileController</display-name>
    <servlet-name>FileController</servlet-name>
    <servlet-class>controller.message.FileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileController</servlet-name>
    <url-pattern>/message/msgFile.do</url-pattern>
  </servlet-mapping>
</web-app>